<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="StatisticsDB" connectionString="Data Source=1.1.1.1;Initial Catalog=StatisticsDB;User ID=root;Password=root1234!!"/>
  </connectionStrings>
</configuration>